<h1>Il Portafogli</h1>

<div>
  <div>
    <div>DEPOSIT FUNDS</div>
    <form>
      <div>
        <div>
          <input name="amount" type="number" />
          <label>
            <div>Amount</div>
          </label>
        </div>
      </div>
      <div>
        <input name="credit" maxLength="16" placeholder="Credit card number" />
      </div>
      <div>
        <input name="name" placeholder="Name on card" />
        <input name="date" placeholder="MM/YY" />
        <input name="cvc" placeholder="CVC" />
      </div>
      <div>
        <button type="submit">Deposit Funds</button>
      </div>
    </form>
  </div>
</div>
